@model List<ProductListItemViewModel>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Detail</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.CategoryName</td>
                <td>@item.Price.ToString("N0") VND</td>
                <td>@item.Stock</td>
                <td>
                    <a asp-controller="Products"
                       asp-action="Detail"
                       asp-route-id="@item.Id">
                        View
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
