@model ProductListItemViewModel

<div class="product-card">
    <h3>@Model.Name</h3>

    <p class="product-meta">
        Category: @Model.CategoryName
    </p>

    <p class="product-price">
        @Model.Price.ToString("N0") VND
    </p>

    <p>
        Stock: <strong>@Model.Stock</strong>
    </p>

    <div class="card-actions">
        <a class="btn btn-light"
           asp-controller="Products"
           asp-action="Detail"
           asp-route-id="@Model.Id">
            View
        </a>
    </div>
</div>
